<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品订单系统</title>
    <script src="/util/jquery.js"></script>
    <script>
        function submitUpdate() {
            if (typeof($("#billstatus").attr("disabled")) != "undefined") {
                alert("已处理的订单不能提交")
                return false;
            }
            if ($('#goodsname').val().length == 0) {
                alert("商品名不能为空");
                return false;
            }
            if ($('#goodsprice').val() < 0) {
                alert("价格不能小于0")
                return false;
            }
            if ($('#goodscount').val() < 0) {
                alert("数量不能小于0")
                return false;
            }
            $.post(
                "update",
                $('#updateForm').serialize(),
                function (result) {
                    if (result) {
                        location.href = '/';
                        alert('修改成功')
                    }else {
                        alert('修改失败')
                    }
                }
            );
            return false;
        }

        function update(i) {
            let id = $('#id'+i).text();
            $.get(
                "getByid/"+id,
                function (result) {
                    $("#id").val(result.id)
                    $("#goodsname").val(result.goodsname)
                    $("#goodsprice").val(result.goodsprice)
                    $("#goodscount").val(result.goodscount)
                    $("#billstatus").val(result.billstatus)
                    if (result.billstatus == 2) {
                        $("#goodsname").attr("readonly", "readonly");
                        $("#goodsname").attr("style", "background-color:#cccccc;");
                        $("#goodsprice").attr("readonly", "readonly");
                        $("#goodsprice").attr("style", "background-color:#cccccc;");
                        $("#goodscount").attr("readonly", "readonly");
                        $("#goodscount").attr("style", "background-color:#cccccc;");
                        $("#billstatus").attr("disabled", "disabled");
                        $("#billstatus").attr("style", "background-color:#cccccc;");
                    } else {
                        $("#goodsname").removeAttr("readonly");
                        $("#goodsname").removeAttr("style");
                        $("#goodsprice").removeAttr("readonly");
                        $("#goodsprice").removeAttr("style");
                        $("#goodscount").removeAttr("readonly");
                        $("#goodscount").removeAttr("style");
                        $("#billstatus").removeAttr("disabled");
                        $("#billstatus").removeAttr("style");
                    }
                }
            )
            return false;
        }

        function submitForm(){
            $('#dataTable').empty()
            $('#dataTable').append('<tr>\n' +
                '<th>商品编号</th>\n' +
                '<th>商品名称</th>\n' +
                '<th>商品价格</th>\n' +
                '<th>库存数量</th>\n' +
                '<th>订单状态</th>\n' +
                '<th>操作</th>\n' +
                '</tr>')
            $.get(
                "/"+$('#district').val(),
                function(result) {
                    for(var i in result){
                        var status = "未知状态"
                        if (result[i].billstatus == 0) {
                            status = "待处理"
                        }else if(result[i].billstatus == 1){
                            status = "处理中"
                        }else if(result[i].billstatus == 2){
                            status = "已处理"
                        }
                        $('#dataTable').append("<tr>" +
                            "<th id='id"+i+"'>"+result[i].id+"</th>>" +
                            "<th>"+result[i].goodsname+"</th>>" +
                            "<th>"+result[i].goodsprice+"</th>>" +
                            "<th>"+result[i].goodscount+"</th>>" +
                            "<th>"+status+"</th>>" +
                            "<th><a href='/' onclick='return update("+i+")'>修改</a></th>>" +
                            "</tr>");
                    }
                }
            )
            return false;
        }

        $(function () {
            $.get(
                "getDistrict",
                function (result) {
                    for (var i in result) {
                        $('#district').append("<option value='"+i+"'>"+result[i]+"</option>")
                    }
                }
            );
        })
    </script>
</head>
<body>
<form action="/" method="get">
    请选择区域:
    <select id="district"></select>
    <button onclick="return submitForm()">查询</button>
</form>

<table id="dataTable">

</table>

<form action="/" method="post" id="updateForm">
    <table id="updateTable">
        <tr>
            <th style="width:200px;">商品编号</th>
            <th style="width:200px;"><input type="text" name="id" id="id" readonly="readonly" style="background-color:#cccccc;"></th>
        </tr>
        <tr>
            <th style="width:200px;">商品名称</th>
            <th style="width:200px;"><input type="text" name="goodsname" id="goodsname"></th>
        </tr>
        <tr>
            <th style="width:200px;">商品价格</th>
            <th style="width:200px;"><input type="text" name="goodsprice" id="goodsprice"></th>
        </tr>
        <tr>
            <th style="width:200px;">库存</th>
            <th style="width:200px;"><input type="text" name="goodscount" id="goodscount"></th>
        </tr>
        <tr>
            <th style="width:200px;">订单状态</th>
            <th style="width:200px;">
                <select name="billstatus" id="billstatus">
                    <option value="0">待处理</option>
                    <option value="1">处理中</option>
                    <option value="2">已处理</option>
                </select>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <button onclick="return submitUpdate()">提交</button>
                <button>返回</button>
            </th>
        </tr>
    </table>
</form>
</body>
</html>