<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employee</title>
    <script src="/util/jquery.js"></script>
    <script>
        function queryList() {
            $.get(
                "/employee/list",
                function (result) {
                    for(let i in result){
                        $("#employee_table").append("<tr>" +
                            "<th>"+result[i].employeeNo+"</th>" +
                            "<th>"+result[i].employeeName+"</th>" +
                            "<th>"+result[i].jobId+"</th>" +
                            "<th><a href='javascript:void(0);' onclick='queryEmployee("+result[i].id+")'>修改</a> <a href='javascript:void(0);' onclick='remEmployee()'>删除</a></th>" +
                            "</tr>")
                    }
                }
            )
        }

        function queryEmployee(id) {
            $("#employee_form").empty()
            $.get({
                url:"/job/list",
                async:false,
                success:function (result) {
                    $("#employee_form").append("<input type='hidden' id='id' name='id'>" +
                        "职工号:<input type='text' id='employeeNo' name='employeeNo'></input> " +
                        "姓名:<input type='text' id='employeeName' name='employeeName'></input> " +
                        "职务:<select id='jobId' name='jobId'></select>" +
                        "<button onclick='modEmployee()'>确认修改</button>");
                    for(let i in result){
                        $("#jobId").append("<option value='"+result[i].id+"'>"+result[i].jobName+"</option>")
                    }
                }
            })
            $.get({
                url:"/employee/get",
                data:{"id":id},
                async:false,
                success:function (result) {
                    $("#id").val(result.id)
                    $("#employeeNo").val(result.employeeNo)
                    $("#employeeName").val(result.employeeName)
                    $("#jobId").val(result.jobId)
                }
            })
        }

        function modEmployee() {
            $.post(
                "/employee/mod",
                $("#employee_form").serialize(),
                function (result) {
                    if (result) {
                        alert("修改成功")
                        queryList()
                        $("#employee_form").empty()
                    } else {
                        alert("修改失败")
                    }
                }
            )
        }

        function remEmployee(id) {
            $.post(
                "/employee/rem",
                {"id":id},
                function (result) {
                    if (result) {
                        alert("删除成功")
                        queryList()
                        $("#employee_form").empty()
                    } else {
                        alert("删除失败")
                    }
                }
            )
        }
        $(function () {
            queryList()
        })
    </script>
</head>
<body>
<a href="/">返回</a>
<table id="employee_table">
    <tr>
        <th>职工号</th>
        <th>姓名</th>
        <th>职务</th>
        <th>操作</th>
    </tr>
</table>
<form id="employee_form">

</form>
</body>
</html>