<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业申报系统</title>
    <script src="/util/jquery.js"></script>
    <script>
        function toSignup() {
            $(location).attr('href', 'signup');
            return false
        }

        $(function () {

        })
    </script>
</head>
<body>
<table>
    <tr>
        <th><a href="/groupBase">基本情况</a></th>
    </tr>
    <tr>
        <th><a href="">组织机构框图</a></th>
    </tr>
    <tr>
        <th><a href="/personList">在岗人员情况</a></th>
    </tr>
    <tr>
        <th><a href="">企业负责人情况</a></th>
    </tr>
    <tr>
        <th><a href="">打印申请书</a></th>
    </tr>
</table>
</body>
</html>