<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/signup" method="post">
    <table>
        <tr>
            <th>登录名:</th>
            <th><input type="text" name="grCode"></th>
        </tr>
        <tr>
            <th>机构名称:</th>
            <th><input type="text" name="grName"></th>
        </tr>
        <tr>
            <th>营业许可证:</th>
            <th><input type="text" name="grLicense"></th>
        </tr>
        <tr>
            <th>密码:</th>
            <th><input type="password" name="grPassword"></th>
        </tr>
        <tr>
            <th>确认密码:</th>
            <th><input type="password"></th>
        </tr>
        <tr>
            <th><button>注册</button></th>
            <th><button>返回登录</button></th>
        </tr>
    </table>
</form>
</body>
</html>