<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="/util/jquery.js"></script>
    <script>
        function toSignin() {
            $(location).attr('href', 'signin');
        }

        $(function () {

        })
    </script>
</head>
<body>
<form action="/signup" method="post">
    <table>
        <tr>
            <th>登录名:</th>
            <th><input type="text" name="grCode" placeholder="a-zA-Z0-9不能超过20位" max="20"></th>
        </tr>
        <tr>
            <th>机构名称:</th>
            <th><input type="text" name="grName" placeholder="机构名称" ></th>
        </tr>
        <tr>
            <th>营业许可证:</th>
            <th><input type="text" name="grLicense" placeholder="营业许可证" ></th>
        </tr>
        <tr>
            <th>密码:</th>
            <th><input type="password" name="grPassword" placeholder="密码" ></th>
        </tr>
        <tr>
            <th>确认密码:</th>
            <th><input type="password" placeholder="确认密码" ></th>
        </tr>
        <tr>
            <th><button>立即注册</button></th>
            <th><button type="button" onclick="toSignin()">返回登录</button></th>
        </tr>
    </table>
</form>
</body>
</html>