<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="/util/jquery.js"></script>
    <script>
        function toSignin() {
            $(location).attr('href', 'signin');
        }

        function signup() {
            alert(1)
            if (!checkText("grCode")) {
                return
            }
            alert(2)
            if (!checkText("grName")) {
                return
            }
            alert(3)
            if (!checkText("grLicense")) {
                return
            }
            alert(4)
            if (!checkText("grPassword")) {
                return
            }
            alert(5)
            if (!checkText("reGrPassword")) {
                return
            }
            $.post(
                "/signup",
                $('#signup_form').serialize(),
                function (result) {
                    if (result.code != '0000') {
                        alert("信息填写有误");
                    } else {
                        window.location.replace(result.data)
                    }
                }
            )
        }

        function checkText(text_id){
            var item = $("#"+text_id);
            var attr = item.attr("placeholder");
            var val = $.trim(item.val());
            if (text_id != "grCode") {
                if (val == "") {
                    return checkNullText(val, item, attr)
                }
                if (text_id == "reGrPassword") {
                    return checkRePassworText(val, item)
                }
            } else {
                if (val == "") {
                    aler(10)
                    return checkNullText(val, item, "登录名")
                }
                return checkGrCodeText(val, item)
            }
            return true
        }

        function checkNullText(val, item, attr){
            if (val == "") {
                var $parent_tr = item.parents('tr');
                var $msg = $parent_tr.children("td.check_msg");
                if ($msg.length == 0) {
                    $parent_tr.append("<td class='check_msg'><span style='color:red;font-size: 14px'>" + attr + "不能为空</span></td>");
                }
                return false
            }
            return true
        }

        function checkGrCodeText(val, item) {
            var p = /^[A-Za-z0-9]{0,20}$/
            if (!p.test(val)) {
                var $parent_tr = item.parents('tr');
                var $msg = $parent_tr.children("td.check_msg");
                if ($msg.length == 0) {
                    $parent_tr.append("<td class='check_msg'><span style='color:red;font-size: 14px'>a-zA-Z0-9不能超过20位</span></td>");
                }
                return false
            }
            return true
        }

        function checkRePassworText(val, item){
            var grPassWord = $("#grPassword").val();
            if (val != grPassWord) {
                item.parents('tr').append("<td class='msg'><span style='color:red;font-size: 14px'>两次密码不同</span></td>");
                return false
            }
            return true
        }

        function removeMsg(text_id){
            var item = $("#"+text_id);
            item.parents('tr').children("td.check_msg").remove();
        }
    </script>
</head>
<body>
<form action="/signup" method="post" id="signup_form">
    <table>
        <tr>
            <th>登录名*:</th>
            <th><input type="text" id="grCode" name="grCode" placeholder="a-zA-Z0-9不能超过20位" max="20" onblur="checkText(id)" onfocus="removeMsg(id)"></th>
        </tr>
        <tr>
            <th>机构名称*:</th>
            <th><input type="text" id="grName" name="grName" placeholder="机构名称" onblur="checkText(id)" onfocus="removeMsg(id)"></th>
        </tr>
        <tr>
            <th>营业许可证*:</th>
            <th><input type="text" id="grLicense" name="grLicense" placeholder="营业许可证" onblur="checkText(id)" onfocus="removeMsg(id)"></th>
        </tr>
        <tr>
            <th>密码*:</th>
            <th><input type="password" id="grPassword" name="grPassword" placeholder="密码" onblur="checkText(id)" onfocus="removeMsg(id)"></th>
        </tr>
        <tr>
            <th>确认密码*:</th>
            <th><input type="password" id="reGrPassword" placeholder="确认密码" onblur="checkText(id)" onfocus="removeMsg(id)"></th>
        </tr>
        <tr>
            <th><button type="button" onclick="signup()">立即注册</button></th>
            <th><button type="button" onclick="toSignin()">返回登录</button></th>
        </tr>
    </table>
</form>
</body>
</html>