<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.DetailsMapper">
  <resultMap id="BaseResultMap" type="com.demo.pojo.Details">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="project_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="person_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="work_hour" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, person_id, work_hour
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_details
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_details
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.demo.pojo.Details">
    insert into t_details (id, project_id, person_id, 
      job_id, work_hour)
    values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{personId,jdbcType=BIGINT}, 
      #{jobId,jdbcType=BIGINT}, #{workHour,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.pojo.Details">
    insert into t_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="workHour != null">
        work_hour,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=BIGINT},
      </if>
      <if test="jobId != null">
        #{jobId,jdbcType=BIGINT},
      </if>
      <if test="workHour != null">
        #{workHour,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.pojo.Details">
    update t_details
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="personId != null">
        person_id = #{personId,jdbcType=BIGINT},
      </if>
      <if test="workHour != null">
        work_hour = #{workHour,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.Details">
    update t_details
    set project_id = #{projectId,jdbcType=BIGINT},
      person_id = #{personId,jdbcType=BIGINT},
      job_id = #{jobId,jdbcType=BIGINT},
      work_hour = #{workHour,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>